* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width:960px;
  display: flex;
  margin: 50px auto;
}

.box{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.box:last-chilid{
  margin-riht: 0;
}

.img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.num{
  position:absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title{
  margin: 15px 0 5px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px){
  header{
    width:100%;
  }
  main{
    width:100%;
    display: block;
  }

  .box{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .img{
    height: 150px
  }
}